<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Convertiseur{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
        Origine : {{ origine }} Converti : {{ converti }}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
